<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<style>
  body {
    background: url('images/backgroundImage.jpg') no-repeat;
    background-size: 100%;
  }
</style>

<body>

  <div class="index">

    <%- include('./common/header.ejs', { NickName: NickName, is_admin: is_admin }) %>

    <div class="container">

      <%- include('./common/menu.ejs', { is_admin: is_admin }) %>

      <div class="main">

        <p class="Welcome" style="font-size: 50px; margin-left:420px; margin-top: 250px; ">Welcome</p>

      </div>
    </div>
  </div>

</body>

</html>