<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1 id="userInfo">爱更新后台管理系统</h1>
                <form class="form-horizontal" action="/users/register" method="POST">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="userName" id="userName" placeholder="请输入用户名">
                            <span id="ume-prompt">请输入2-12位字符</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码:</label>
                        <div class="col-sm-9">
                            <input type="password" name="Password" class="form-control" id="Password" placeholder="请输入密码">
                            <span id="pwd-prompt">请输入6-16位密码</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">确认密码:</label>
                        <div class="col-sm-9">
                            <input type="password" name="Repassword" class="form-control" id="Repassword" placeholder="请再次输入密码">
                            <span id="repwd-prompt">请再次输入密码</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-9">
                            <input type="text" name="Nickname" class="form-control" id="Nickname" placeholder="请输入昵称">
                            <span id="Nickname-prompt">请输入2-20个字符</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-9">
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="请输入手机号">
                            <span id="phone-prompt">请输入有效手机号</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">是否是管理员：</label>
                        <div class="col-sm-9">
                            <input type="radio" name="isAdmin" id="check" value="1">是
                            <input type="radio" name="isAdmin" id="check" value="0" checked>否
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button  class="btn btn-default" id="register-btn">注册</button>
                            <a href="/login.html"  class="btn btn-default">直接登录</a>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/register.js"></script>
</body>

</html>