<div class="header">
    <div class="header_left">
        <!-- <h2>爱更新后台管理系统</h2> -->
        <img src="/images/Logo.png" alt="">
    </div>
    <div class="header_right">
        <p>欢迎您- <%= NickName %> - <%= is_admin  %></p>
         <a href="/users/sign_out">退出登录</a>
    </div>
</div>