<div class="menu">
    <ul>
        <% if (is_admin == "(管理员)") { %>
        <li class="menu_item">
            <a href="/user-manager.html">用户管理</a>
        </li>
        <% } %>

        <li class="menu_item">
            <a href="/moblie-manager.html">手机管理</a>
        </li>
    </ul>
</div>